@font-face {
    font-family: PingFangTC;
    src: url('/styles/PingFang-TC-Regular-2.otf') format('opentype');
    font-weight: normal;
}

@font-face {
    font-family: PingFangTC;
    src: url('/styles/PingFang-TC-Thin-2.otf') format('opentype');
    font-weight: 100;
}

@font-face {
    font-family: NotoSansTC;
    src: url('/styles/NotoSansTC-Regular.otf') format('opentype');
    font-weight: normal;
}

@font-face {
    font-family: NotoSansTC;
    src: url('/styles/NotoSansTC-Bold.otf') format('opentype');
    font-weight: bold;
}

html {
    height: 100vh;
}

body {
    margin: 0;
    padding: 0;
    font-family: NotoSansTC;
    height: 100vh; /* Ensure the body takes up at least the height of the viewport */
}

.header {
    display: flex;
    /*position: absolute;*/
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    box-sizing: border-box;
    padding: 0 54px 0 60px;
    /*z-index: 99;*/
    background-color: #3F0E41;
    align-items: center;
    font-family: PingFangTC;
    justify-content: space-between;
}

.header-logo > a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.main-content {
    flex: 1; /* Allow the main content to grow to fill the available space */
    width: 100%;
    display: flex;
    align-items: stretch;
    height: calc(100vh - 70px);
    min-width: 450px;
}

.btn-notification {
    width: 25px;
    height: 25px;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    background-image: url('/icons/bell.png');
}

.toast:hover {
    cursor: pointer;
}