.search-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 300px 50px 300px;
}

.condition-tag, .header-search-input {
    font-size: 14px;
}

.condition-tag {
    background-color: #9f9f9f;
    border-radius: 5px;
    padding: 5px;
    color: white;
    margin: 1px 4px 1px 4px;
}

.search-result {
    overflow-y: auto;
}

.search-condition-desc {
    margin: 15px;
    padding: 15px;
    border-bottom: 1px solid #b6b6b6;
}

.search-keyword-desc, .search-condition-container {
    margin: 5px;
    height: 30px;
    padding: 5px;
}

.search-keyword-desc {
    font-weight: bold;
}

.result-number, .search-keyword-placeholder {
    color: darkred;
    padding-left: 5px;
    font-weight: bold;
}

.search-condition-container {
    display: flex;
    align-items: center;
}

.search-condition-conditions {
    padding-left: 10px;
}

.search-result {
    padding: 10px 20px 10px 20px;
}

.in-channel {
    padding: 15px;
    font-size: 15px;
    color: dimgray;
    font-family: NotoSansTC;
}

.message-wrapper {
    background-color: #f0f0f0;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
}

.message-container {
    margin: 0;
}


.search-result-desc {
    color: gray;
    padding: 20px;
}

.search-conditions {
    margin-left: 10px;
}

em {
    background-color: #ffc75f;
    white-space: nowrap;
    font-style: normal;
}



