
#sidebar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#workspaces-tab {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #5B0888;
    min-width: 90px;
    height: 100%;
    padding: 10px 0 10px 0;
}

.workspace-card {
    margin: 12px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: whitesmoke;
    box-shadow: none;
    font-size: 0.8em;
    white-space: normal;
    position: relative;
    border: none;
    background-size: cover;
    background-position: center;
}

.workspace-card.active {
    border: 3px solid #FF9000;
    border-radius: 5px;
}

.btn-add-workspace {
    margin: 12px;
    height: 50px;
    width: 50px;
    background-color: #F8E3FF;
    color: #3F0E41;
    background-size: cover;
    box-shadow: none;
    border: none;
    font-size: 30px;
    border-radius: 50%;
    line-height: 0;
    transition: border-radius 0.3s ease;
}

.btn-add-workspace:hover {
    border-radius: 5px;
}

#sidebar-container {
    background-color: #F8E3FF;
    min-width: 250px;
    height: 100%;
    justify-content: space-between;
    align-items: stretch;
}

#upper-sidebar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 10px;
}

#workspace-name {
    font-size: 20px;
    padding: 10px;
    word-spacing: 0.2em;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    box-shadow: none;
    outline: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
}

/* sidebar buttons */
#btn-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    width: 100%;
    padding: 5px;
}

.sidebar-btn {
    width: 30px;
    height: 30px;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 5px;
    border-radius: 1px;
}

.sidebar-btn.active {
    background-color: lightgray;
}

#btn-text-message {
    background-image: url('/icons/speech-bubble.png');
}

#btn-label {
    background-image: url('/icons/label.png');
    background-size: 25px;
    background-position: center;
}

#btn-event {
    background-image: url('/icons/calendar-check.png');
}

#btn-meeting {
    background-image: url('/icons/businessmen.png');
}

.date-divider {
    width: 100%;
    margin: 5px 0 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #959595;
    font-size: 14px;
    letter-spacing: 0.05em;
}

.date-divider::before, .date-divider::after {
    flex: 1;
    content: '';
    padding: 1px;
    margin: 10px;
    background-color: #ddd;
}

#list-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 10px 0 10px 10px;
    width: 100%;
}

.details-container {
    margin: 10px 0 10px 10px; /* Adjust the indentation by changing the value */
}

.channel::before {
    content: "#"; /* Add the '#' symbol before each channel name */
    margin-right: 5px; /* Adjust the spacing between the '#' symbol and the channel name */
}

.details-item {
    display: flex;
    align-items: center;
    border-radius: 5px;
    position: relative;
}

.details-item.active {
    background-color: lightgray;
    font-weight: bold;
}

.details-item.chat-partner {
    padding: 5px 0 5px 15px;
    margin: 5px;
}

.details-item.channel-item {
    padding: 10px 0 10px 15px;
}

.chat-partner-avatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: inline-block;
    object-fit: cover;
    margin: 2px 10px 2px 0;
}

.channel-title-prefix {
    margin-right: 10px;
}

/* user status */
#user-status-container {
    width: 100%;
    height: 80px;
    background-color: #9A929E;
}

/* Avatar container */
.avatar-container {
    position: relative;
    display: inline-block;
}

/* Avatar image */
.channel-member-avatar {
    width: 50px; /* Adjust as needed */
    height: 50px; /* Adjust as needed */
    border-radius: 50%;
}

/* Status indicator dots */
.channel-member-avatar::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

/* Different status indicator dot colors */
.channel-member-avatar.online::after {
    background-color: #19b919;
}

.channel-member-avatar.offline::after {
    background-color: #818181;
}

.channel-member-avatar.dnd::after {
    background-color: #de0d0d;
}

.channel-member-avatar.invisible::after {
    background-color: gray;
}

/* header */
.header-logo > a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
}

.header-search-container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    min-width: 100px;
    width: 40vw;
    height: 40px;
}

.header-search-input {
    font-family: "Open Sans", sans-serif;
    width: 100%; /* Adjust for icon size */
    padding: 3px 5px 3px 5px;
    border: solid 1px #979797;
    border-radius: 5px;
    font-size: 16px;
    height: 100%;
    background-color: white;
    display: flex;
    align-items: center;
}

.condition-tag, .header-search-input {
    font-size: 14px;
}

.header-search-input:focus {
    outline: none;
}

.header-search-button {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
}

.header-search-button img {
    width: 25px; /* Adjust icon size */
    height: auto;
}

/*search*/

.search-dropdown {
    position: absolute;
    top: 100%;
    left: 3px;
    width: calc(100% - 6px);
    background-color: white;
    border: 1px solid #ccc;
    border-top: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: none; /* Hide by default */
    z-index: 99;
}

.search-dropdown-item {
    padding: 5px;
    cursor: pointer;
    width: 100%;
    border-bottom: 1px solid #b2b2b2;
    display: flex;
    align-items: center;
}

.channel-dropdown-item {
    height: 50px;
    padding-left: 10px;
}

.condition-tag {
    background-color: #9f9f9f;
    border-radius: 5px;
    padding: 5px;
    color: white;
    margin: 1px 4px 1px 4px;
}

/* notification bell */
.header-link-bell {
    width: 44px;
    height: 44px;
    background-image: url(/icons/cart.png);
    background-size: contain;
    margin-right: 15px;
}


/* user status container */
#user-status-container {
    display: flex;
    align-items: center;
    padding: 20px;
}

.user-info {
    flex-grow: 1;
}

.user-info > div {
    color: white;
}

.username {
    font-weight: bold;
}

.user-status {
    font-size: 14px;
}

/* user avatar */
.user-avatar {
    position: relative;
    overflow: hidden;
    margin-right: 10px;
}

.user-avatar img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

/* Status indicator dots */
.user-avatar::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    z-index: 1;
    border: 2px solid #9A929E;
}

/* Different status indicator dot colors */
.user-avatar.online::after {
    background-color: #19b919;
}

.user-avatar.offline::after {
    background-color: #818181;
}

.user-avatar.dnd::after {
    background-color: #de0d0d;
}

.user-avatar.invisible::after {
    background-color: gray;
}

.user-settings {
    display: flex;
    align-items: center; /* Vertically center items */
    height: 100%;
    padding-right: 10px;
}

.user-settings button {
    width: 25px;
    height: 25px;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    cursor: pointer;
    background-image: url('/icons/setting.png');
}

/* main content */
.right-content {
    width: 100%;
}

/* text messaging */
#text-messaging-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 10px;
    height: 100%;
}

.content-header {
    display: flex;
    justify-content: space-between;
    height: 50px;
    width: 100%;
    align-items: center;
    border-bottom: 1px solid #9aa2ab;
    padding: 10px 10px 15px 10px;
}

.content-header-btn {
    width: 25px;
    height: 25px;
    margin: 0 10px 0 10px;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.content-header-btn-container {
    display: flex;
    justify-content: flex-end;
}

.btn-channel-member {
    background-image: url('/icons/group2.png');
}

.btn-phone-call {
    background-image: url('/icons/phone-call-button.png');
}

.btn-video-call {
    background-image: url('/icons/video-call.png');
}

/* message history */

.message-history-container {
    flex-grow: 1;
    overflow-y: auto; /* Add scrollbar when messages overflow */
    display: flex;
    flex-direction: column;
    padding: 10px;
    position: relative;
}

.message-container {
    display: flex;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f0f0f0;
    border-radius: 8px;
}

.message-container:hover {
    background-color: #e1e1e1;
}

.message-right {
    display: flex;
    flex-direction: column;
    overflow-wrap: break-word;
    margin: 0 0 10px 10px;
}


.avatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin: 5px;
}

.from-name {
    font-weight: bold;
    margin-right: 5px;
}

.message-header {
    display: flex;
    align-items: flex-end;
    margin-bottom: 5px;
}

.timestamp {
    font-size: 0.7em;
    color: #888;
    margin-bottom: 1px;
}


/* message editor */
/* Center the Summernote editor */
.message-editor, .title {
    margin: 15px 15px 10px 15px;
}

.title {
    margin: 40px;
}

/* Add space around the Summernote editor */
.message-editor {
    margin: 20px; /* Adjust the margin as needed */
}

/* Style for code block */
pre {
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    color: #666;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
    white-space: pre-wrap;
    border-radius: 5px;
    min-height: 60px;
}

.note-editor {
    width: 100%;
}


.toast-container {
    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 11
}

.toast:not(.showing):not(.show) {
    display: none !important;
}

@media (prefers-color-scheme: dark) {
    .toast {
        background-color: rgba(255, 255, 255, 0.8); /* Override the Bootstrap style */
    }
}

.toast {
    width: 300px;
    /*background-color: rgba(101, 182, 0, 0.85); !* Override the Bootstrap style *!*/
    /*color: white;*/
}

#welcome-message {
    color: white;
    margin-right: 30px;
    font-weight: bold;
    font-size: large;
}

/* channel member */

/*.channel-member {*/
/*    padding: 5px 5px 5px 15px;*/
/*    margin: 5px;*/
/*    display: flex;*/
/*    align-items: center;*/
/*}*/

/*.channel-member-container.active {*/
/*    background-color: lightgray;*/
/*}*/

/*.channel-member-avatar {*/
/*    width: 30px;*/
/*    height: 30px;*/
/*    border-radius: 50%;*/
/*    display: inline-block;*/
/*    margin-right: 15px;*/
/*    object-fit: cover;*/
/*}*/


/* popover */
.popover-title {
    text-align: center;
}

.custom-popover li {
    border: none !important;
    text-align: center;
}

.custom-popover li:nth-child(2) {
    border-top: 1px solid #ccc !important;
}

.custom-popover li:last-child {
    border-top: 1px solid #ccc !important;
}

.ui-datepicker {
    position: relative;
    z-index: 99;
}


.workspace-dropdown {
    position: static;
}

.details-container summary {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 5px;
}

.dropdown-menu .dropdown-item:last-child {
    border-bottom: none; /* Remove bottom border from the last dropdown item */
}

.workspace-subtitle {
    font-weight: bold;
}

.member {
    display: flex;

}

.creator-label {
    display: inline-block;
    width: 25px;
    height: 30px;
    margin-left: 20px;
}

.dropdown-menu {
    width: 280px;
}

.create-channel {
    margin-left: auto;
    background-color: transparent;
}

/*summary {*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*}*/

.details-item:hover, .dropdown-item:hover {
    cursor: pointer;
}

.badge {
    position: absolute;
    top: 10%;
    left: 90%;
    transform: translate(-50%, -50%);
}

.notification-badge {
    top: 50%;
    right: 10%;
    color: white;
    text-align: center;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    line-height: 18px;
}

.btn-send {
    background-color: #6743aa;
    color: white;
}

.placeholder {
    position: absolute;
    color: #999;
    left: 10px;
    top: 7px;
    pointer-events: none;
}


.message-container.flash-background {
    animation: flash 1.5s infinite;
}

@keyframes flash {
    0%, 49% {
        background-color: #fcb365; /* Flashing color */
    }
    50%, 100% {
        background-color: #f0f0f0; /* Original color */
    }
}

.private-form {
    display: flex;
    flex-direction: column;
}

.disabled {
    background-color: #E6E6E6;
}

.creator-tag {
    display: flex;
    width: 100%;
    height: 30px;
    padding-left: 20px;
    align-items: center;
    color: #ffae43;
    font-size: 20px;
    font-weight: bold;
}

.creator-tag-icon {
    display: inline-block;
    width: 23px;
    height: 28px;
    margin-left: 10px;
}

.list-group-item.disabled {
    background-color: #f4f4f4;
}

#add-channel-member-input {
    flex-wrap: nowrap;
    margin-bottom: 20px;
}

#btn-add-member {
    width: 70px;
}

.workspace-member-list {
    max-height: 400px; /* Adjust as needed */
    overflow-y: scroll;
}

.workspace-member-list a:hover {
    cursor: default;
}

.message-content p {
    margin-bottom: 0;
}
