/* video call */
.video-call-content {
    display: flex;
    flex-direction: column;
    height: calc(100% - 70px);
    width: 100%;
    background-color: rgba(28, 28, 28, 0.87);
    padding: 10px 10px 120px 10px;
}

.media-control-panel {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    margin: 20px;
    justify-content: center;
    width: 100%;
    height: 80px;
}

.video-panel {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 25px 100px 25px 150px;
    height: 100%;
    min-width: 0;
    min-height: 0;
    overflow-y: scroll;
}

.video-container {
    margin: 20px;
    aspect-ratio: 13/9;
    position: relative;
    z-index: 0;
    max-width: 530px;
}

.video-container.big {
    /*max-height: calc(50% - 20px); */
    flex-basis: 530px;
}

.video-container.small {
    max-height: calc(40% - 20px); /* Adjust the height of each container */
}

@media screen and (max-width: 1400px) {
    .video-container {
        flex-grow: 1;
        /*min-width: 200px;*/
    }
}

@media screen and (max-width: 700px) {
    .video-panel {
        align-content: flex-start;
    }
}

.video-container video {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}


.streamer-name {
    position: absolute;
    bottom: 5px; /* Adjust this value to adjust the distance from the bottom */
    left: 5px; /* Adjust this value to adjust the distance from the left */
    margin: 0;
    color: white; /* Set the color of the identity text */
    background-color: rgba(0, 0, 0, 0.3); /* Set the background color for better readability */
    padding: 0.5em 0.8em; /* Adjust padding as needed */
    border-radius: 5px; /* Add border radius for rounded corners */
    z-index: 1;
    font-size: 10px;
}

/*.video-container video {*/
/*    position: absolute;*/
/*    width: 100%; !* Ensure the video fills the container *!*/
/*    height: 100%; !* Ensure the video fills the container *!*/
/*    top: 0;*/
/*    left: 0;*/
/*}*/

.btn-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    line-height: 1.3px;
    margin: 0 10px 0 10px;
}

.bi {
    font-size: 20px;
    color: white;
}

.enabled-style {
    background-color: #008cff;
}


.disabled-style {
    background-color: #ff3030;
}

.right-content {
    padding: 0;
}