<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TeamSpark</title>
    <script
            crossorigin="anonymous"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
            src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" rel="stylesheet">
    <script crossorigin="anonymous"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script th:src="@{/js/jquery-3.7.1.min.js}"></script>
    <link rel="stylesheet" th:href="@{/styles/Commons.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/styles/loginPage.css}" type="text/css"/>
    <link rel="icon" th:href="@{/icons/favicon.ico}" type="image/x-icon">
</head>
<body>
<div class="header">
    <div class="header-logo">
        <img alt="teamSparksIcon" id="teamSparks-icon" src="/icons/teamSparksIcon.png">
        <a href="/homePage">TeamSparks</a>
    </div>
</div>
<main>
    <div class="introduction-container">
        <img alt="teamsparks-into" id="introduction-img" src="/icons/teamSparksIntro.png">
        <div class="introduction-text">
            <span class="font-weight-bold" style="color: #ff3900;">Unleash</span> Your Team's Potential <br>
            with <span class="font-weight-bold" style="color: #530079;">TeamSparks</span>
        </div>
    </div>
    <div class="multi-form-container" id="login" style="display: none">
        <!-- Sign-in form -->
        <div class="form-container sign-in">
            <div class="form-header">Welcome to TeamSparks! <br> Please Sign In</div>
            <form id="signInForm">
                <label class="form-label" for="signInEmail">Email:</label>
                <input class="form-input" id="signInEmail" name="email" required type="email"
                       value="zack@gmail.com">
                <label class="form-label" for="signInPassword">Password:</label>
                <input class="form-input" id="signInPassword" name="password" required type="password"
                       value="zack12345">
                <button class="form-button" type="submit">Sign In</button>
            </form>
            <div class="direct-link">
                <a class="sign-in" href="#" id="signUpLink">Sign Up</a>
            </div>
        </div>

        <!-- Sign-up form -->
        <div class="form-container sign-up">
            <div class="form-header">Welcome to TeamSparks! <br> Please Sign Up</div>
            <form id="signUpForm">
                <label class="form-label" for="signUpName">Name:</label>
                <input class="form-input" id="signUpName" name="name" required type="text">
                <label class="form-label" for="signUpEmail">Email:</label>
                <input class="form-input" id="signUpEmail" name="email" required type="email">
                <label class="form-label" for="signUpPassword">Password:</label>
                <input class="form-input" id="signUpPassword" name="password" required type="password">
                <button class="form-button" type="submit">Sign Up</button>
            </form>
            <div class="direct-link">
                <a class="sign-up" href="#" id="signInLink">Sign In</a>
            </div>
        </div>
    </div>
</main>
<!--<script th:src="@{/js/headerFooterRender.js}"></script>-->
<script th:src="@{/js/LoginPageRender.js}"></script>
<script th:src="@{/js/signInSignUpForm.js}"></script>
</body>
</html>