<!DOCTYPE html>
<html>
<head>
    <title>Spring Boot Chat Room</title>
    <meta charset="utf-8"/>
    <script
            crossorigin="anonymous"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
            src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet">
    <script
            crossorigin="anonymous"
            integrity="sha256-sw0iNNXmOJbQhYFuC9OF2kOlD5KQKe1y5lfBn4C9Sjg="
            src="https://code.jquery.com/ui/1.13.3/jquery-ui.min.js"></script>
    <script crossorigin="anonymous"
            src="https://cdn.jsdelivr.net/npm/@stomp/stompjs@7.0.0/bundles/stomp.umd.min.js"></script>
    <!--    <link rel="stylesheet" th:href="@{/styles/Footer.css}" type="text/css"/>-->
    <!-- jquery -->
    <script crossorigin="anonymous"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <!-- bootstrap 4 -->
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" rel="stylesheet">
    <script crossorigin="anonymous"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <!-- summernote -->
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.js"></script>
    <!--  toasts  -->
    <link crossorigin="anonymous"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-toaster/4.0.1/css/bootstrap-toaster.min.css"
          integrity="sha512-RLiJ5uLcu8jWxsJBevOZWLU0zWv51vwpha0Gh4jRKOqkcWbVR7+U8kKaiGsMhSua3fIkviCHRClSH+XZYKIoZA=="
          referrerpolicy="no-referrer" rel="stylesheet"/>
    <script crossorigin="anonymous"
            integrity="sha512-YmkrdAXo8RdHV1JFfepR7QWLDfF7vs8Mc/t+6qKIxrEFeWbi0u/lajryYSPK6GC5nupW5t6XfPdxQpIY79+USg=="
            referrerpolicy="no-referrer"
            src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-toaster/4.0.1/js/bootstrap-toaster.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" rel="stylesheet"/>
    <!--include tam-emoji ccs-->
    <link rel="stylesheet" th:href="@{/tam-emoji/css/emoji.css}">
    <!--include fontawesome-->
    <script src="https://use.fontawesome.com/52e183519a.js"></script>
    <link rel="stylesheet" th:href="@{/styles/Commons.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/styles/textMessaging.css}" type="text/css"/>
</head>
<body>
<div class="header">
    <div class="header-logo">
        <a href="http://localhost:8080/user">TeamSpark</a>
    </div>
    <div class="header-search-container">
        <div class="header-search-input" contenteditable="true">
            <div class="header-search-keyword" contenteditable="true"></div>
        </div>
        <button class="header-search-button"><img alt="Search" src="/icons/search.png"></button>
        <div class="search-dropdown"></div>
        <div id="datepicker" style="display: none;"></div>
    </div>
    <div id="welcome-message"></div>
    <button class="btn-notification position-relative" data-placement="bottom" data-toggle="popover">
    <span class="translate-middle badge rounded-pill bg-danger">
        3
    </span>
    </button>
    <div id="notification-content" style="display: none">
        <ul class="list-group custom-popover notification-list">
            <li class="list-group-item">Notification 1</li>
            <li class="list-group-item">Notification 2</li>
            <li class="list-group-item">Notification 3</li>
        </ul>
    </div>
</div>
<div class="main-content">
    <div id="workspaces-tab">
        <button class="workspace-card btn-add-workspace"></button>
    </div>
    <div id="sidebar-container">
        <div id="upper-sidebar">
            <div class="workspace-dropdown">
                <button aria-expanded="false" aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown"
                        id="workspace-name" type="button">
                </button>
                <div aria-labelledby="dropdownMenuButton" class="dropdown-menu">
                    <a class="dropdown-item" data-target="#manageChannelModal" data-toggle="modal">
                        Manage channel/private chat
                    </a>
                    <a class="dropdown-item" data-target="#workspaceMemberSetting" data-toggle="modal">
                        Workspace Members
                    </a>
                </div>
            </div>
            <div class="divider"></div>
            <div id="list-container">
                <details class="details-container" id="channel-container" open="true">
                    <summary>Channels
                        <!--                        <button class="btn btn-sm ml-auto create-channel font-weight-bold"-->
                        <!--                                data-target="#createChannelModal"-->
                        <!--                                data-toggle="modal"-->
                        <!--                                type="button">+-->
                        <!--                        </button>-->
                    </summary>
                    <!--                    <div class="channel-title details-item active">Channel 1</div>-->
                </details>
                <details class="details-container" id="chat-container" open="true">
                    <summary>Private Chats
                        <!--                        <button class="btn btn-sm ml-auto create-channel font-weight-bold"-->
                        <!--                                data-target="#createChannelModal"-->
                        <!--                                data-toggle="modal"-->
                        <!--                                type="button">+-->
                        <!--                        </button>-->
                    </summary>
                    <!--                    <div class="chat-partner details-item">-->
                    <!--                        <img class="chat-partner-avatar chat-partner-demo" src="/img/profile2.png">-->
                    <!--                        Alice-->
                    <!--                    </div>-->
                </details>
            </div>
        </div>
        <div id="user-status-container">
            <div class="user-avatar">
                <!--                <img alt="User Avatar" src="/img/profile.png">-->
            </div>
            <div class="user-info">
                <div class="username"></div>
                <div class="user-status">Online</div>
            </div>
            <div class="user-settings">
                <button></button>
            </div>
        </div>
    </div>
    <div class="right-content">
        <!--  text messaging content  -->
        <div id="text-messaging-content">
            <div class="content-header">
                <div class="channel-title chat-partner-title">
                </div>
                <div class="content-header-btn-container">
                    <button class="content-header-btn btn-channel-member" data-target="#channelMembersModal"
                            data-toggle="modal"></button>
                    <button class="content-header-btn btn-phone-call"></button>
                    <button class="content-header-btn btn-video-call"></button>
                </div>
            </div>
            <div class="message-history-container">
            </div>
            <div class="message-editor"></div>
        </div>
    </div>
    <div class="toast-container"></div>

    <!-- Modals -->
    <!-- Workspace members -->
    <div aria-hidden="true" aria-labelledby="workspaceMemberSetting" class="modal fade" id="workspaceMemberSetting"
         role="dialog" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Workspace member</h5>
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="workspace-member-invite">
                        <h6 class="workspace-member-invite-title modal-subtitle">Invite user</h6>
                        <div class="input-group mb-3">
                            <input aria-describedby="inviteButton" aria-label="Email" class="form-control"
                                   placeholder="Email" type="email">
                            <div class="input-group-append">
                                <button class="btn btn-success" id="inviteButton" type="button">Invite</button>
                            </div>
                        </div>
                    </div>
                    <div class="workspace-member-container">
                        <h6 class="workspace-member-list-title modal-subtitle">Workspace members</h6>
                        <div class="workspace-member-list list-group"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
                    <button class="btn btn-primary" type="button">Save</button>
                </div>
            </div>
        </div>
    </div>
    <!--  create workspace  -->
    <div aria-hidden="true" aria-labelledby="addWorkspaceModalLabel" class="modal fade" id="addWorkspaceModal"
         role="dialog"
         tabindex="-1">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addWorkspaceModalLabel">Add New Workspace</h5>
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Form for adding new workspace -->
                    <form id="addWorkspaceForm">
                        <div class="form-group">
                            <label for="workspaceName">Workspace Name:</label>
                            <input class="form-control" id="workspaceName" name="workspaceName" required type="text">
                        </div>
                        <div class="form-group">
                            <label for="workspaceAvatar">Workspace Avatar:</label>
                            <input class="form-control-file" id="workspaceAvatar" name="workspaceAvatar"
                                   placeholder="Choose file"
                                   type="file">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
                    <button class="btn btn-primary" id="saveWorkspaceBtn" type="button">Save Workspace</button>
                </div>
            </div>
        </div>
    </div>
    <!--  channel management  -->
    <!-- Manage Channel / Private Chat Modal -->
    <div aria-hidden="true" aria-labelledby="manageChannelModalLabel" class="modal fade" id="manageChannelModal"
         role="dialog" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="manageChannelModalLabel">Manage Channel / Private Chat</h5>
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Channel List -->
                    <h6 class="d-flex justify-content-between align-items-center font-weight-bold">
                        Channels
                        <button class="btn btn-success mr-2" data-target="#createChannelModal" data-toggle="modal"
                                id="btn-create-channel" type="button">Create
                        </button>
                    </h6>
                    <div class="list-group" id="channel-modal-list">
                        <!-- Channel item -->
                        <!--                        <a class="list-group-item d-flex justify-content-between align-items-center" href="#">-->
                        <!--                            Channel 1-->
                        <!--                            <div>-->
                        <!--                                <button class="btn btn-sm btn-secondary mr-2" type="button">Edit</button>-->
                        <!--                                <button class="btn btn-sm btn-danger" type="button">Delete</button>-->
                        <!--                            </div>-->
                        <!--                        </a>-->
                    </div>

                    <!-- Private Chat List -->
                    <h6 class="mt-4 d-flex justify-content-between align-items-center font-weight-bold">
                        Private Chats
                        <button class="btn btn-success mr-2" data-target="#createChannelModal" data-toggle="modal"
                                id="btn-create-private-chat" type="button">Create
                        </button>
                    </h6>
                    <div class="list-group" id="private-chat-modal-list">
                        <!-- Private chat item with separate edit and delete buttons -->
                        <!--                        <a class="list-group-item d-flex justify-content-between align-items-center" href="#">-->
                        <!--                            Private Chat 1-->
                        <!--                            <div>-->
                        <!--                                <button class="btn btn-sm btn-secondary mr-2" type="button">Edit</button>-->
                        <!--                                <button class="btn btn-sm btn-danger" type="button">Delete</button>-->
                        <!--                            </div>-->
                        <!--                        </a>-->
                    </div>
                    <div class="text-right mt-4">
                        <button class="btn btn-secondary mr-2" data-dismiss="modal" type="button">Cancel</button>
                        <button class="btn btn-primary mr-2" type="button">Save Changes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Create Channel / Private Chat Modal -->
    <div aria-hidden="true" aria-labelledby="createChannelModalLabel" class="modal fade" id="createChannelModal"
         role="dialog" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="createChannelModalLabel">Create Channel / Private Chat</h5>
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="createChannelForm">
                        <div class="form-group">
                            <label for="channelName">Name:</label>
                            <input class="form-control" id="channelName" name="channelName" required type="text">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-dismiss="modal" type="button">Cancel</button>
                    <button class="btn btn-primary" form="createChannelForm" type="submit" value="submit">Create
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- Create Private Chat Modal -->
    <div aria-hidden="true" aria-labelledby="createPrivateChatModelLabel" class="modal fade" id="createPrivateChatModel"
         role="dialog" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="createPrivateChatModelLabel">Create Channel / Private Chat</h5>
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="createPrivateForm">
                        <!--                        <div class="form-group">-->
                        <!--                            <label for="channelName">Name:</label>-->
                        <!--                            <input class="form-control" id="channelName" name="channelName" required type="text">-->
                        <!--                        </div>-->
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-dismiss="modal" type="button">Cancel</button>
                    <button class="btn btn-primary" form="createChannelForm" type="submit" value="submit">Create
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal for displaying channel members -->
    <div aria-hidden="true" aria-labelledby="channelMembersModalLabel" class="modal fade" id="channelMembersModal"
         role="dialog" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="channelMembersModalLabel">Channel Members</h5>
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- List group for displaying channel members -->
                    <div class="list-group" id="channelMembersList">
                        <!-- Member items will be populated here -->
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    const hostName = '[[${hostName}]]';
</script>
<!--include tam-emoji js-->
<script th:src="@{/js/textMessaging/textMessagingStomp.js}"></script>
<script th:src="@{/tam-emoji/js/config.js}"></script>
<script th:src="@{/tam-emoji/js/tam-emoji.min.js?v=1.1}"></script>
<script th:src="@{/js/textMessaging/summernote-editor.js}"></script>
<script th:src="@{/js/textMessaging/textMessagingPageRender.js}"></script>
<script th:src="@{/js/userNotificationAndStatus.js}"></script>
</body>
</html>